[user]
	email = vishvananda@gmail.com
	name = Vishvananda Abrams
[color]
	ui = auto
[core]
	excludes = /home/vishvananda/.gitignore_global
	editor = vim
[alias]
    cc = !"TOP=$(git rev-parse --show-toplevel); find $TOP -name '*.pyc' -delete; ctags -R $TOP; git-checkout"
[github]
	user = vishvananda
	email = vishvananda@gmail.com
[push]
	default = current
[sendemail]
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpencryption = tls
	smtpuser = vishvananda@gmail.com
	from = Vishvananda Abrams <vishvananda@gmail.com>
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[diff]
	algorithm = histogram
[pull]
	ff = only
