[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim
[submodule ".vim/bundle/rainbow_parentheses.vim"]
	path = .vim/bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule ".vim/bundle/tcomment_vim"]
	path = .vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule ".vim/bundle/csapprox"]
	path = .vim/bundle/csapprox
	url = https://github.com/godlygeek/csapprox
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule ".vim/bundle/pyflakes-vim"]
	path = .vim/bundle/pyflakes-vim
	url = https://github.com/kevinw/pyflakes-vim
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".vim/bundle/vim-java-unused-imports"]
	path = .vim/bundle/vim-java-unused-imports
	url = https://github.com/akhaku/vim-java-unused-imports
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule ".vim/bundle/vim-scala"]
	path = .vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule ".vim/bundle/vim-toml"]
	path = .vim/bundle/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
