[user]
	email = vishvananda@gmail.com
	name = Vishvananda Ishaya
[color]
	ui = auto
[core]
	excludes = /home/vishvananda/.gitignore_global
[alias]
    cc = !"TOP=$(git rev-parse --show-toplevel); find $TOP -name '*.pyc' -delete; ctags -R $TOP; git-checkout"
[github]
	user = vishvananda
	token = 5968addcc07eb28818cc3b77835b1e53
	email = vishvananda@gmail.com
[push]
	default = current
[sendemail]
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpencryption = tls
	smtpuser = vishvananda@gmail.com
	from = Vishvananda Ishaya <vishvananda@gmail.com>
